import { Document, Model, Schema, model } from 'mongoose';

export interface TemplateDoc extends Document {
    field: string;
}

interface TemplateModel extends Model<TemplateDoc> { }

const templateSchema = new Schema<TemplateDoc, TemplateModel>({
    field: { type: String, required: true },
});

const templateModel = model<TemplateDoc, TemplateModel>('Templates', templateSchema);

export default templateModel;
